* {
    font-family: sans-serif;
}

.address {
    font-family: monospace;
    font-size: 1.07em;
}

.code {
    font-family: monospace;
    font-size: 1.07em;
    word-break: break-all;
}

.code-image {
    border: solid black 1px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: lightgray;
    overflow: hidden;
}

.command {
    max-width: 100%;
    background-color: #eee;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    margin-right: 0.8em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 0.6em;
    font-family: monospace;
    font-size: 1.1em;
}

.table {
    display: table;
    border: 1px solid gray;
    border-radius: 0.5rem;
    margin: 0.5rem 0 0.5rem 0;
    font-size: 0.8rem;
    margin: auto;
}

.table div {
    padding: 0.1rem;
}

.header-row > div {
    background-color: #ddd;
}

.header-row > div:first-child {
    border-top-left-radius: 0.5rem;
}

.header-row > div:last-child {
    border-top-right-radius: 0.5rem;
}

.header-row {
    display: table-row;
}

.header-row > div {
    display: table-cell;
}

.header-row > div:not(:first-child) {
    border-left: 1px solid gray;
}

.data-row {
    display: table-row;
}

.data-row > div {
    display: table-cell; border-top: 1px solid gray;
}

.data-row > div:not(:first-child) {
    border-left: 1px solid gray;
}

.row-inverted {
    display: table-row;
}

.row-inverted > div {
    display: table-cell;
}

.row-inverted:not(:first-child) > div {
    border-top: 1px solid gray;
}

.row-inverted > div:first-child {
    background-color: #ddd;
}

.row-inverted:first-child > div:first-child {
    border-top-left-radius: 0.5rem;
}

.row-inverted:last-child > div:first-child {
    border-bottom-left-radius: 0.5rem;
}

.row-inverted > div:not(:first-child) {
    border-left: 1px solid gray;
}

.emphasis {
    font-style: italic;
    font-weight: bold;
}

.extra-wrap {
    word-break: break-all;
}

.filename {
    font-family: monospace;
    font-size: 1.07em;
}

.footnote {
    font-size: 0.7em;
}

.italic {
    font-style: italic;
}

.username {
    font-family: monospace;
    font-size: 1.07em;
}

.verifier-name {
    font-family: monospace;
    font-size: 1.07em;
    font-style: italic;
}