* {
    font-family: sans-serif;
}

.code {
    font-family: monospace;
    font-size: 1.07em;
}

.code-image {
    border: solid black 1px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: lightgray;
}

.command {
    max-width: 100%;
    background-color: #eee;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    margin-right: 0.8em;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 0.6em;
    font-family: monospace;
    font-size: 1.1em;
}

.data-table {
    display: table;
    margin: auto;
}

.data-table-header {
    display: table-row;
    font-weight: bold;
}

.data-table-row {
    display: table-row;
}

.data-table-cell {
    display: table-cell;
    font-size: 0.8rem;
    border: 1px solid gray;
    padding: 0.1rem 0.2rem;
}

.emphasis {
    font-style: italic;
    font-weight: bold;
}

.filename {
    font-family: monospace;
    font-size: 1.07em;
}

.footnote {
    font-size: 0.7em;
}

.italic {
    font-style: italic;
}

.username {
    font-family: monospace;
    font-size: 1.07em;
}

.verifier-name {
    font-family: monospace;
    font-size: 1.07em;
    font-style: italic;
}